.service__container-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service__container-content__card {
  /* display: flex; */
  /* flex-wrap: wrap; */
  color: #000;
  background: #fff;
  border-radius: 5px;
  padding: 2rem;
  width: 277px;
  height: 277px;
  margin: 1rem;
}
.service__container-content__card-content {
  margin-top: 1rem;
}
.service__container-content__card-content p {
  font-size: 18px;
}
