.about__container {
  display: flex;
  justify-content: center;
}

.about__container-left {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}
.about__container-left__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__container-left img {
  width: 375px;
}
.about__container-right {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.about__container-right__description {
  color: #fff;
  font-size: 16px;
}
.about__container-right__skils-container {
  margin-top: 2rem;
}

.about__container-right__progress {
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 2px;
}

.about__container-right__progress > div {
  height: 10px;
  border-radius: 10px;
  background-color: #ff4820;
}
