.progress__container-right__skils-container-skill-title {
  display: flex;
  justify-content: space-between;

  color: #fff;
}
.progress__container-right__skils-container-skill-title h6 {
  font-size: 12px;
  font-weight: 700;
}
.progress__container-right__progress {
  margin: 0.5rem 0;
  background-color: #fff;
  border-radius: 5px;
  /* (height of inner div) / 2 + padding */
  /* padding: 0.5px; */
}

.progress__container-right__progress > div {
  height: 5px;
  border-radius: 5px;
  background-color: #ff4820;
}
