/* #FF4820 */

.heading h4 {
  font-size: 22px;
  color: #ff4820;
  margin-bottom: 0.5rem;
}
.heading h1 {
  font-size: 32px;
  color: #fff;
}

.heading div {
  margin-top: 0.5rem;
  border-bottom: 5px solid #ff4820;
  max-width: 40%;
  border-radius: 5px;
}
